################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FCTeamTimesheet/bin/Debug/netcoreapp3.1
/FCTeamTimesheet/obj
